<h2>Products</h2>

<form onsubmit="javascript:void(0)" style="max-width: 20em; margin-top: 2em;">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Filter" ng-model="$ctrl.query" />
    </div>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
        <th>Description</th>
        <!-- <th class="hidden-xs">Pets</th> -->
    </tr>
    </thead>

    <tr ng-repeat="product in $ctrl.products | filter:$ctrl.query track by product.id">
        <td>
            <a ui-sref="productDetails({ productId: product.id })">
                {{product.name}}
            </a>
        </td>
        <!-- <td class="hidden-sm hidden-xs">{{product.address}}</td> -->
        <td>{{product.type}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td class="hidden-xs"><span ng-repeat="pet in product.pets track by pet.id"></span></td>
        <!-- TODO: Schauen, ob useful kind for style <td class="hidden-xs"><span ng-repeat="pet in product.pets track by pet.id">{{pet.name + ' '}}</span></td> --> 
    </tr>
</table>